a.admin-toggle-admin-tabs,
a.admin-toggle-messages {
  height: 22px;
  position: fixed;
  right: 0;
  width: 24px;
  z-index: 999;
}

a.admin-toggle-admin-tabs {
  top: 140px;
}

a.admin-toggle-messages {
  top: 140px;
}

a.admin-toggle-messages ~ a.admin-toggle-admin-tabs {
  top: 170px;
}


a.admin-toggle-admin-tabs:hover,
a.admin-toggle-admin-tabs:focus {
  width: 91px;
}

a.admin-toggle-messages:hover,
a.admin-toggle-messages:focus {
  width: 81px;
}


a.admin-toggle-admin-tabs {
  background: url('../images/admin-tabs-toggle.png') no-repeat scroll 0 -22px transparent;
}

a.admin-toggle-messages {
  background: url('../images/messages-toggle.png') no-repeat scroll 0 -22px transparent;
}

.admin-toggle-admin-tabs.active {
  background-position: 0 0;
}

.admin-toggle-messages.active {
  background-position: 0 0;
}

/* Admin tabs - no */
body.admin-toggle-tabs-no div.tabs {
  display: none;
}

/* Hovering tabs enabled */
body.admin-toggle-tabs-hover div.tabs {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
}

  body.admin-toggle-tabs-hover div.tabs li {
    margin-right: 0;
  }

  body.admin-toggle-tabs-hover div.tabs a {
    display: block;
    float: left;
    margin: 0 5px;
    height: 32px;
    width: 32px;
    text-indent: -10000px;
  }

  body.admin-toggle-tabs-hover div.tabs a#view-local-task {
    background: url('../images/buttons.png') no-repeat scroll 0 0 transparent;
  }

  body.admin-toggle-tabs-hover div.tabs a#edit-local-task {
    background: url('../images/buttons.png') no-repeat scroll -36px 0 transparent;
  }

  body.admin-toggle-tabs-hover div.tabs a#devel-local-task {
    background: url('../images/buttons.png') no-repeat scroll -73px 0 transparent;
  }
  
/**
 * Blocks Admin
 *********************************/
body.admin-toggle-tabs-hover .block-admin-wrapper {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

  body.admin-toggle-tabs-hover .block-admin-wrapper > div {
    float: left;
    margin-right: 10px;
  }
  body.admin-toggle-tabs-hover .block-admin-wrapper > div:last-child {
    margin-right: 0;
  }

  /* Compatibility with Omega/Alpha theme block debugging feature */
  body.admin-toggle-tabs-hover.alpha-region-debug .block-admin-wrapper {
    top: 40px;
  }
  
  body.admin-toggle-tabs-hover .block-admin-wrapper a {
    display: block;
    width: 25px;
    height: 25px;
    text-indent: -10000px;
  }
  
  body.admin-toggle-tabs-hover .block-admin-wrapper a.block-config {
    background: url('../images/buttons.png') no-repeat scroll 0 -36px transparent;
  }  